---
http_interactions:
- request:
    method: patch
    uri: https://api.statuspage.io/v1/pages/fmd7kj5n71y9/incidents/yqr926fhwmh3/incident_updates/tkd7x7m9t9wc
    body:
      encoding: UTF-8
      string: '{"incident_update":{"body":"Empathize with those","display_at":"2022-06-17T19:30:00+00:00"}}'
    headers:
      Authorization:
      - "<Oauth *****>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Statuspage-Version:
      - 66b04009d8d9a40176eb70c8dca337b87db29ac5
      Etag:
      - W/"582d82eab5bd982b1bd9274d46d2b594"
      Atl-Traceid:
      - 47dbd1b06505c38e
    body:
      encoding: ASCII-8BIT
      string: '{"id":"tkd7x7m9t9wc","incident_id":"yqr926fhwmh3","affected_components":null,"body":"Empathize
        with those","created_at":"2022-06-18T19:14:19.578Z","custom_tweet":null,"deliver_notifications":true,"display_at":"2022-06-17T19:30:00.000Z","status":"resolved","tweet_id":null,"twitter_updated_at":null,"updated_at":"2022-06-25T22:44:35.908Z","wants_twitter_update":false}'
  recorded_at: Sat, 25 Jun 2022 22:44:36 GMT
recorded_with: VCR 6.0.0
