---
http_interactions:
- request:
    method: get
    uri: https://api.statuspage.io/v1/pages/hmw075ww7tlq/incidents/unresolved
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Oauth *****>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - "<https://api.statuspage.io/v1/pages/hmw075ww7tlq/incidents/unresolved?page=1&per_page=100>;
        rel='next'"
      Etag:
      - W/"gz[bd10bc9c5a028e8365916fd453acba18]"
      X-Statuspage-Version:
      - 74d6192c1766f9eae00982f412d09eefd4fad2b8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"mghj5wtnxxj8","components":[{"id":"ybwsxg243q90","page_id":"hmw075ww7tlq","group_id":null,"created_at":"2020-08-27T15:32:50Z","updated_at":"2020-10-24T09:53:37Z","group":false,"name":"News
        Articles","description":"News Articles are being updated","position":2,"status":"under_maintenance","showcase":true,"only_show_if_degraded":false,"automation_email":"component+1fb7ba1c-0f95-464a-8a2b-182ee08ac953@notifications.statuspage.io"}],"created_at":"2020-10-24T09:52:20Z","impact":"maintenance","impact_override":null,"incident_updates":[{"id":"lxmdq7sgrt66","incident_id":"mghj5wtnxxj8","affected_components":[{"code":"ybwsxg243q90","name":"News
        Articles","old_status":"operational","new_status":"under_maintenance"}],"body":"Scheduled
        maintenance is currently in progress. We will provide updates as necessary.","created_at":"2020-10-24T09:53:37.066Z","custom_tweet":null,"deliver_notifications":false,"display_at":"2020-10-24T09:53:37.066Z","status":"in_progress","tweet_id":null,"twitter_updated_at":null,"updated_at":"2020-10-24T09:53:37.066Z","wants_twitter_update":false},{"id":"6lx5c1lbf25l","incident_id":"mghj5wtnxxj8","affected_components":[{"code":"ybwsxg243q90","name":"News
        Articles","old_status":"operational","new_status":"operational"}],"body":"We
        will be undergoing scheduled maintenance during this time.","created_at":"2020-10-24T09:52:20.886Z","custom_tweet":null,"deliver_notifications":true,"display_at":"2020-10-24T09:52:20.886Z","status":"scheduled","tweet_id":null,"twitter_updated_at":null,"updated_at":"2020-10-24T09:52:20.886Z","wants_twitter_update":false}],"metadata":{},"monitoring_at":null,"name":"Scheduled
        Maintenance","page_id":"hmw075ww7tlq","postmortem_body":null,"postmortem_body_last_updated_at":null,"postmortem_ignored":false,"postmortem_notified_subscribers":false,"postmortem_notified_twitter":false,"postmortem_published_at":null,"resolved_at":null,"scheduled_auto_completed":true,"scheduled_auto_in_progress":true,"scheduled_for":"2020-10-24T09:53:00Z","scheduled_remind_prior":false,"scheduled_reminded_at":null,"scheduled_until":"2020-10-24T10:53:00Z","shortlink":"http://stspg.io/q76y32pwrln3","status":"in_progress","updated_at":"2020-10-24T09:53:37Z"}]'
  recorded_at: Sat, 24 Oct 2020 09:53:42 GMT
- request:
    method: get
    uri: https://api.statuspage.io/v1/pages/hmw075ww7tlq/incidents/active_maintenance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Oauth *****>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - "<https://api.statuspage.io/v1/pages/hmw075ww7tlq/incidents/active_maintenance?page=1&per_page=1[...]
