---
http_interactions:
- request:
    method: get
    uri: https://api.statuspage.io/v1/pages/fmd7kj5n71y9/incidents?page=1&per_page=1

    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Oauth *****>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Statuspage-Version:
      - 2d2578da4b67b34ed477d75ce19bee6c5884948f
      Etag:
      - W/"5a252ea894a3bd81a8a111e8f45f5ac7"
      Atl-Traceid:
      - b0964bd3a9231bef
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Inc #3","status":"investigating","created_at":"2023-02-16T16:05:25.208Z","updated_at":"2023-02-16T16:05:25.242Z","monitoring_at":null,"resolved_at":null,"impact":"none","shortlink":"https://stspg.io/h2q1ch330hpj","scheduled_for":null,"scheduled_until":null,"scheduled_remind_prior":false,"scheduled_reminded_at":null,"impact_override":null,"scheduled_auto_in_progress":false,"scheduled_auto_completed":false,"metadata":{},"started_at":"2023-02-16T16:05:25.202Z","id":"t3zy7x9tny6h","page_id":"fmd7kj5n71y9","incident_updates":[{"status":"investigating","body":"We
        are currently investigating this issue.","created_at":"2023-02-16T16:05:25.240Z","wants_twitter_update":false,"twitter_updated_at":null,"updated_at":"2023-02-16T16:05:25.240Z","display_at":"2023-02-16T16:05:25.240Z","deliver_notifications":true,"tweet_id":null,"id":"n7q8zjfldd6z","incident_id":"t3zy7x9tny6h","custom_tweet":null,"affected_components":null}],"postmortem_body":null,"postmortem_body_last_updated_at":null,"postmortem_ignored":false,"postmortem_published_at":null,"postmortem_notified_subscribers":false,"postmortem_notified_twitter":false,"components":[]}]'
  recorded_at: Thu, 16 Feb 2023 16:28:02 GMT
[...]
