---
http_interactions:
- request:
    method: get
    uri: https://api.statuspage.io/v1/pages/hmw075ww7tlq/incidents/scheduled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Oauth *****>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - "<https://api.statuspage.io/v1/pages/hmw075ww7tlq/incidents/scheduled?page=1&per_page=100>;
        rel='next'"
      Etag:
      - W/"gz[76909def719282195b2f5afdff227b5f]"
      X-Statuspage-Version:
      - 74d6192c1766f9eae00982f412d09eefd4fad2b8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"w0x7fxxlprmx","components":[{"id":"3sxkhns1ndms","page_id":"hmw075ww7tlq","group_id":null,"created_at":"2020-08-27T15:32:50Z","updated_at":"2020-08-27T15:35:06Z","group":false,"name":"Results","description":"Results
        are being updated in time","position":1,"status":"operational","showcase":true,"only_show_if_degraded":false,"automation_email":"component+6c823ccd-ae20-4e96-a0ef-7b396459c04c@notifications.statuspage.io"}],"created_at":"2020-10-24T10:06:35Z","impact":"maintenance","impact_override":null,"incident_updates":[{"id":"rlvy2qnlm55r","incident_id":"w0x7fxxlprmx","affected_components":[{"code":"3sxkhns1ndms","name":"Results","old_status":"operational","new_status":"operational"}],"body":"We
        will be undergoing scheduled maintenance during this time.","created_at":"2020-10-24T10:06:35.551Z","custom_tweet":null,"deliver_notifications":false,"display_at":"2020-10-24T10:06:35.551Z","status":"scheduled","tweet_id":null,"twitter_updated_at":null,"updated_at":"2020-10-24T10:06:35.551Z","wants_twitter_update":false}],"metadata":{},"monitoring_at":null,"name":"Scheduled
        Maintenance","page_id":"hmw075ww7tlq","postmortem_body":null,"postmortem_body_last_updated_at":null,"postmortem_ignored":false,"postmortem_notified_subscribers":false,"postmortem_notified_twitter":false,"postmortem_published_at":null,"resolved_at":null,"scheduled_auto_completed":true,"scheduled_auto_in_progress":true,"scheduled_for":"2020-10-24T12:00:00Z","scheduled_remind_prior":true,"scheduled_reminded_at":null,"scheduled_until":"2020-10-24T13:00:00Z","shortlink":"http://stspg.io/gx50xtb49503","status":"scheduled","updated_at":"2020-10-24T10:06:35Z"}]'
  recorded_at: Sat, 24 Oct 2020 10:06:42 GMT
recorded_with: VCR 6.0.0
