---
http_interactions:
- request:
    method: get
    uri: https://api.statuspage.io/v1/pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Oauth *****>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"gz[429dc6c4ea3b65e9f1bd4666c4192535]"
      X-Statuspage-Version:
      - 883702c974af2e6bac802ba367e3d4dc48f33ab1
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"hmw075ww7tlq","created_at":"2020-08-27T15:32:50Z","updated_at":"2020-08-27T21:38:47Z","name":"MyTestPage","page_description":null,"headline":null,"branding":"basic","subdomain":"mytestpage1","domain":null,"url":null,"support_url":null,"hidden_from_search":false,"allow_page_subscribers":true,"allow_incident_subscribers":true,"allow_email_subscribers":true,"allow_sms_subscribers":true,"allow_rss_atom_feeds":true,"allow_webhook_subscribers":false,"notifications_from_email":null,"notifications_email_footer":"You
        received this email because you are subscribed to MyTestPage''s service status
        notifications.","activity_score":16,"twitter_username":null,"viewers_must_be_team_members":false,"ip_restrictions":null,"city":null,"state":null,"country":null,"time_zone":"UTC","css_body_background_color":"ffffff","css_font_color":"333333","css_light_font_color":"AAAAAA","css_greens":"2fcc66","css_yellows":"f1c40f","css_oranges":"e67e22","css_blues":"3498DB","css_reds":"e74c3c","css_border_color":"E0E0E0","css_graph_color":"3498db","css_link_color":"3498db","css_no_data":"b3bac5","favicon_logo":{"updated_at":null,"size":null,"url":""},"transactional_logo":{"updated_at":"2020-08-27T15:40:52.000+00:00","original_url":"//dka575ofm4ao0.cloudfront.net/pages-transactional_logos/original/186319/rtv-logo.png","size":4135,"normal_url":"//dka575ofm4ao0.cloudfront.net/pages-transactional_logos/normal/186319/rtv-logo.png","retina_url":"//dka575ofm4ao0.cloudfront.net/pages-transactional_logos/retina/186319/rtv-logo.png"},"hero_cover":{"updated_at":null,"original_url":"","size":null,"normal_url":"","retina_url":""},"email_logo":{"updated_at":null,"original_url":"","size":null,"normal_url":"","retina_url":""},"twitter_logo":{"updated_at":null,"size":null,"url":""}}]'
  recorded_at: Thu, 15 Oct 2020 23:31:49 GMT
recorded_with: VCR 6.0.0
