---
http_interactions:
- request:
    method: post
    uri: https://api.statuspage.io/v1/pages/hmw075ww7tlq/components
    body:
      encoding: UTF-8
      string: '{"component":{"description":"asasdf"}}'
    headers:
      Authorization:
      - "<Oauth *****>"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":["Name can''t be blank"]}'
  recorded_at: Sat, 24 Oct 2020 13:46:44 GMT
recorded_with: VCR 6.0.0
